body {
  background: linear-gradient(135deg,#00c6ff,#fff59d);
  font-family: "Comic Sans MS";
}

.app {
  width: 480px;
  margin: 50px auto;
  background: white;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

textarea {
  width: 100%;
  height: 90px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

select, input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

button {
  background: #ff4081;
  color: white;
  border: none;
  cursor: pointer;
}

#output {
  margin-top: 15px;
  background: #e3f2fd;
  padding: 15px;
  border-radius: 15px;
}
