name: Deploy AI Agent to S3

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ AKIAVUAZRFKU3AYXSUMU }}
        aws-secret-access-key: ${{ RnsGkmBcIzOIECsyyNg9k+tN836iq6YEkjd1PaE }}
        aws-region: ${{ ap-southeast-1 }}

    - name: Deploy to S3
      run: |
        aws s3 sync . s3://${{ new-ai-bucket1234 }} --delete
